ようこそ、ながのＣＡＫＥへ！</br>
このサイトは、ケーキ販売のＥＣサイトになります。</br>
会員でない方も商品の閲覧はできますが、</br>
購入には会員登録が必要になります。

<h5>新着商品</h5>

<%= link_to "全ての商品を見る", items_path %>



<%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
