<div class="container mt-5">
  <div class="row">
    <h5>会員一覧</h5>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @costomers.each do |customer| %>
     
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.name, admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <% if item.is_active %>
              <td>有効</td>
          　<% else %>
              <td>退会</td>
            <% end %> 
                 
            
          </tr>
        <% end %>
          
      </tbody>
    </table>
  </div>
</div>