<div class="container mt-5">
  <div class="row">
    
          <h5>商品一覧</h5>
          
       
     
        <% @items.each do |item| %>
        　<%= link_to item_path(item.id) do  %>　　 
           <%= image_tag item.get_image, size: "5×5" %> 
          <% end %>
          <%= item.name %>
          ¥<%= (item.price * 1.1).floor  %>
        
        <% end %>
          
     
  </div>
</div>