<div class="container mt-5">
  <div class="row">
    
          <h5>商品一覧</h5>
          
       
     
        <% @items.each do |item| %>
          <%= image_tag item.image, size: "5×5" %> 
          <%= link_to item.name, item_path(item.id) %>
          ¥<%= (item.price * 1.1) %>
        
        <% end %>
          
     
  </div>
</div>